
    <div class="hero-area2 d-flex align-items-center">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12">
                    <!-- Hero Caption -->
                    <div class="hero-cap pt-100">
                        <h1>My Portfolio</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="about-area section-padding40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="about-caption mb-50">
                    <div class="section-tittle mb-35">
                        <h2>About Me</h2>
                    </div>
                    <p style="text-align: justify; font-size: large;">Hello, I'm Saurabh, a passionate and versatile individual with a  Master of Computer Application from Late Bhausaheb Hiray College Of Computer Application in Mumbai, along with your internship experience at Aptech Pvt Ltd as a Trainee Server Administrator, showcases your commitment to the field of IT and your determination to excel.</p>
                    <p  style="text-align: justify; font-size: large;">My pursuit of knowledge through professional online courses on platforms like Edu-Bridge India, Udemy, and engagement with Hackerank, Sololearn, Great Learning to enhance your skills in HTML, CSS, JavaScript, Bootstrap, AngularJS, and Core Java reflects your dedication to building a strong foundation in web development and programming.</p>
                    <p  style="text-align: justify; font-size: large;">My internship experience with Aptech Pvt Ltd likely provided you with practical insights into server administration and real-world IT operations. This experience could be valuable in demonstrating your hands-on skills and understanding of IT infrastructure management.</p>
                    <p  style="text-align: justify; font-size: large;">Overall, your academic background, internship, and proactive approach to skill-building make you a promising candidate in the IT industry. As you continue to learn and grow, remember to leverage your experiences and skills to contribute meaningfully to projects and opportunities that align with your passion and expertise.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="../../assets/my2.png" alt="">
                </div>
            </div>
        </div>

    </div>
    </section>
