<div class="container">

  <div class="row py-lg-5 " style="text-align: center;">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><strong>Project's</strong> </h1>
      <p class="lead text-muted"><b>A project is any undertaking, carried out individually or collaboratively and possibly involving research or design, that is carefully planned to achieve a particular goal.An alternative view sees a project managerially as a sequence of events: a "set of interrelated tasks to be executed over a fixed period and within certain cost and other limitations".</b>.</p>
    </div>
  </div>

  <div class="  row row-cols-1 row-cols-sm-2  row-cols-md-2 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro1.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/Pizzashop_Ecommerce_Website" target="_blank"> Pizzashop Ecommerce Website </a> <br>
           <b>Technologies Used :</b>  HTML, CSS, Angular, Java Spring Boot, Hibernate, JPA, Swagger, Postman, MySQL.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro2.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/Online-Food-Order" target="_blank"> Online Food Order </a> <br>
            <b>Technologies Used :</b>  HTML, CSS, PHP, Javascript.
           </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro3.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/BridgeArt-Ecommerce-Website" target="_blank"> BridgeArt Ecommerce Website </a> <br>
            <b>Technologies Used :</b>  HTML, CSS, PHP, Javascript.
           </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro4.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/Blood-Bank-Management-System" target="_blank"> Blood Bank Management System </a> <br>
            <b>Technologies Used :</b>  HTML, CSS, PHP, Javascript, MySQL.
           </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro5.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/ProfilePageUsingBootstrap" target="_blank"> Profile Page Using Bootstrap </a> <br>
            <b>Technologies Used :</b>  HTML, CSS, Javascript.
           </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro6.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/Online-Movie-TicketBooking" target="_blank"> Online Movie Ticket Booking </a> <br>
            <b>Technologies Used :</b>  HTML, CSS, Javascript, PHP.
           </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro7.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/Calculator" target="_blank"> Calculator Using Java </a> <br>
            <b>Technologies Used :</b>  Java
           </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="../../assets/Pro9.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
        <div class="card-body">
          <p class="card-text"><b>Project Name :</b><a href="https://github.com/saurabhg007/SaurabhPortfolio" target="_blank"> My Portfolio </a> <br>
            <b>Technologies Used :</b>  HTML, CSS, Angular, Typescript.
           </p>
        </div>
      </div>
    </div>


  </div>
  </div>
