<div class="container">

<div class="row py-lg-5 " style="text-align: center;">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light"><strong>Certification</strong> </h1>
    <p class="lead text-muted"><b>Certification is the process of verifying that a person, product, or service meets certain standards. It is a formal attestation or confirmation of certain characteristics of an object, person, or organization. This confirmation is often, but not always, provided by some form of external review, education, assessment, or audit.</b>.</p>
  </div>
</div>

<div class="  row row-cols-1 row-cols-sm-2 m-5 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct1.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Database Management System Certification by NPTEL </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct2.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Front End Development- CSS Certification by Great Learning.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct3.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Web Development Certification SoloLearn.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct4.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Indroduction to Database Management System Certification by Coursera.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct5.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">HTML Essential Training Certification by Linkedin.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct6.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Indroduction to Javascript Certification by SoloLearn.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct7.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text"> Java(Basic) Certification by HackerRank.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct8.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text"> Problem Solving(Basic) Certification by HackerRank.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/ct9.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text"> SQL(Basic) Certification by HackerRank.</p>
      </div>
    </div>
  </div>

</div>
</div>
