
<div class="container-fluid my-6 mt-0" id="home">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 py-6 pb-0 pt-lg-0">
            <h1 class=" jambo1 display-3 mb-3 display-5 fw-bold">Hi There,</h1>
              <h1 class="display-3 mb-3 jambo2">I'm Saurabh <span id="ba">Gawali</span></h1>
              <div class="typed-text  jambo3">I'm Into ,<span id="bi">Web Designer | Web Developer | Front-End Developer | Back-End Developer </span></div>
          </div>
          <div class="col-lg-6 ">
              <img class="img-fluid jambo5" src="../../assets/my.png" alt="">
          </div>
      </div>
  </div>
</div>
